:root {

}

* {
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
}

body {
    background-color: rgb(61, 59, 59);
}

.heading {
    padding: 20px;
}

h1 {
    font-size: 6rem;
    text-align: center;
    color: rgb(218, 218, 224);
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;

}

.card {
    
    margin: 10px;
    background-color: blanchedalmond;
    padding: 10px;
    width: max-content;
    flex: 1 0;
    border-radius: 20px;
    
}

header {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
    border-radius: 20px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

.card-content {
    padding: 10px;
}

p {
    padding: 2px;
    color:rgb(66, 66, 63);

}

.card:hover {
    box-shadow: 0 0 11px rgb(194, 173, 173); 
    transform: scale(1.1, 1.1);
}